<dc>
<settings>
	<privileges>
		<privilege></privilege>
	</privileges>
	<roles>
		<role>
			<name></name>
			<definition>
				<role></role>
			</definition>
		</role>
	</roles>
	<users>
		<user>
			<name></name>
			<password></password>
			<active></active>
			<definition>
				<role></role>
			</definition>
		</user>
	</users>
	<asset_categories>
		<asset_category>
			<name></name>
			<visible></visible>
			<type></type>
			<min_depreciation></min_depreciation>
			<max_depreciation></max_depreciation>
		</asset_category>
	</asset_categories>
	<financial_statement_categories>
		<financial_statement_category>
			<name></name>
			<visible></visible>
		</financial_statement_category>
	</financial_statement_categories>
	<tax_rates>
		<tax_rate>
			<name></name>
			<visible></visible>
			<rate></rate>
		</tax_rate>
	</tax_rates>
	<companies>
		<company>
			<name></name>
			<visible></visible>
			<financial_year></financial_year>
			<start_date></start_date>
			<financial_statement_categories>
				<financial_statement_category>
					<name></name>
					<asset_category>
						<name></name>
						<visible></visible>
					</asset_category>
				</financial_statement_category>
			</financial_statement_categories>
			<tax_rates>
				<tax_rate></tax_rate>
			<tax_rates>
			<accounts>
				<account>
					<code></code>
					<name></name>
					<cost_centre></cost_centre>
					<department></department>
					<balance_sheet></balance_sheet>
					<visible></visible>
				</account>
			</accounts>
		</company>
	</companies>
</settings>
</dc>