/** forms */
@def DIALOG_DEFAULT_MARGIN				10px;
@def DIALOG_DEFAULT_SPACING				8px;
@def DIALOG_DEFAULT_BUTTONS_TOP_MARGIN	DIALOG_DEFAULT_SPACING;
@def REQUIRED_INFO_MSG_COLOR	blue;
@def REQUIRED_INFO_MSG_ALIGN	right;
@def REQUIRED_INFO_TAG_COLOR	REQUIRED_INFO_MSG_COLOR;

/** wizards */
/**
.wizard-background {
	background-color: #FFFFCC;
}*/

.wizard-navigation-bar {
	border-top: 2px groove;
	padding-top: DIALOG_DEFAULT_SPACING;
}
