@CHARSET "UTF-8";
.report {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 7pt;
}

.ReportTitle {
	font-weight:bold;
	font-size: 130%;
}
.ReportSubtitle {
	font-weight:bold;
	font-size: 120%;
}

.data_header {
	
}

.data_group_a {
	
}

.data_group_b {
	
}

.data_details {
	
}

.data_footer {
	
}
